
/* CSS Document */

#contact-btn {
    display: none;
}
@media (max-width: 1023px){
#contact-btn {
    display: block;
}
#contact-btn a {
    color: rgba(255,255,255,1.00);
}
#contact-btn a::before {
    width: 56px;
    height: 40px;
    content: '';
    display: block;
    margin: 0 auto;
    background: url(../images/flex-contact.svg)left top no-repeat;
}
#contact-btn {
    background: #2e469b;
    padding: 25px 15px;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.75);
    z-index: 999;
    text-align: center;
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 20px;
}}
@media (max-width: 1650px) {
    li a { padding: 20px 7px; }
  }
